<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dashboard</title>

    <link href="~/Theme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="~/Theme/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="~/icono_principal.png" />

</head>

<body id="page-top">
   
    <div id="wrapper">
      
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-clipboard"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Dashboard<sup></sup></div>
            </a>
           
            <hr class="sidebar-divider my-0">
           
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Privacy", "Home")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Home</span>
                </a>
            </li>
            
            <hr class="sidebar-divider">
           
            <div class="sidebar-heading">
                Interface
            </div>
        

            <li class="nav-item" @if (@TempData["correoEmpresa"] != "")
            {
                <text>style="display:none;"</text>
            }>

                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Usuario</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Acciones:</h6>
                        <a class="collapse-item" href="~/Home/Index">Crea tú curriculum</a>
                        <a class="collapse-item" href="~/Students/Create">Empleos Solicitados</a>
                    </div>
                </div>

            </li>

            <li class="nav-item" @if (@TempData["correoUsuario"] != "" && @TempData["correoEmpresa"] == "")
            {
                <text>style="display:none;"</text>
            }>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree"
                   aria-expanded="false" aria-controls="collapseThree">
                    <i class="fas fa-building"></i>
                    <span>Empresa</span>
                </a>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Opciones:</h6>
                        <a class="collapse-item" href="@Url.Action("PublicarEmpleo", "Home")">Publicar Empleo</a>
                        <a class="collapse-item" href="@Url.Action("TrabajosEmpresa", "Home")">Ver Empleos</a>
                    </div>
                </div>
            </li>
  
            
            <hr class="sidebar-divider d-none d-md-block">
           
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
       
       
        <div id="content-wrapper" class="d-flex flex-column">
            
            <div id="content">
              
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                   
                    <ul class="navbar-nav ml-auto">

                                      
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <span class="badge badge-danger badge-counter">@ViewBag.conteo</span>
                            </a>

                         
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Centro de Mensajeria
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="@Url.Action("TrabajosEmpresa", "Home")">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="~/Theme/img/undraw_profile_2.svg"
                                             alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        @if (@ViewBag.conteo == 0)
                                        {
                                            <div class="text-truncate">
                                                No tienes postulantes
                                            </div>
                                        }
                                        else
                                        { 
                                        <div class="text-truncate">
                                            Usuarios Interesados
                                        </div>
                                        <div class="small text-gray-500">Postulantes nuevos: @ViewBag.conteo</div>
										}
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Salir</a>
                            </div>
                        </li>


                        <div class="topbar-divider d-none d-sm-block"></div>

                        
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@ViewBag.nombreEmpresa</span>
                                <img class="img-profile rounded-circle"
                                     src="~/Theme/img/undraw_profile.svg">
                            </a>
                         
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#perfilModal">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar Sesión
                                </a>
                            </div>
                        </li>


                    </ul>


                </nav>


               
             
                <div class="container-fluid">
                  
                    <div class="row">
                        <div class="container body-content">
                            @RenderBody()
                            <hr />
                            <footer>
                                <p>&copy; @DateTime.Now.Year - EmpleoConecta</p>
                            </footer>
                        </div>
                        @RenderSection("scripts", required: false)
                    </div>
                </div>
            </div>
            
        </div>
        
       
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>


        <div class="modal fade" id="perfilModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Información de la Empresa</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        @foreach (var perfil in ViewBag.PerfilEmpresa)
                        {
                            <h5 class="card-subtitle text-muted text-center font-weight-bold">Nombre: @perfil.nombre_empresa</h5>
                            <p class="card-text text-center mt-3 font-weight-bold">Correo: @perfil.correo_empresa</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item fw-bold text-center">Ubicación: @perfil.ubicacion_empresa</li>
                                <li class="list-group-item fw-bold text-center">Sector: @perfil.sector</li>
                                <li class="list-group-item fw-bold text-center">Sitio Web: @perfil.sitio_web</li>
                            </ul>
                        }

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="button" data-dismiss="modal">Salir</button>
                    </div>
                </div>
            </div>
        </div>


        
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Listo para salir ?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Seleccione "Salir" a continuación si desea finalizar la sesión actual.</div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" data-dismiss="modal">Cancelar</button>
                        <a class="btn btn-danger" href="@Url.Action("LogoutEmpresa", "Home")">Salir</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="~/Theme/vendor/jquery/jquery.min.js"></script>
        <script src="~/Theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="~/Theme/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="~/Theme/js/sb-admin-2.min.js"></script>
        <!-- Page level plugins -->
        <script src="~/Theme/vendor/chart.js/Chart.min.js"></script>
        <!-- Page level custom scripts -->
        <script src="~/Theme/js/demo/chart-area-demo.js"></script>
        <script src="~/Theme/js/demo/chart-pie-demo.js"></script>
</body>
</html>
