@model List<Trabajo>


@{

    Layout = null; 


}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="shortcut icon" type="image/png" href="~/icono_principal.png" />

    <title>EmpleoConecta  |  Index</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">




  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">  
  <link href="assets/css/style.css" rel="stylesheet">



</head>

<body>

  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

            <h1 class="logo me-auto me-lg-0"><a @Url.Action("Index", "Home")>EmpleoConecta<span>.</span></a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Sobre nosotros</a></li>
          <li><a class="nav-link scrollto" href="#empleos">Empleos</a></li>
          <li><a class="nav-link scrollto " href="#recursos">Recursos</a></li>
          <li><a class="nav-link scrollto" href="#categorias">Categorias</a></li>
           <li class="dropdown">
          <a href="#"><span>@ViewBag.TableEmpresa</span> <i class="bi bi-chevron-down"></i></a>
            <ul>

              <li><a asp-controller="Home" asp-action="LoginEmpresa">Login</a></li>
              <li><a asp-controller="Home" asp-action="SignUpEmpresa">Registro</a></li>
              <li><a asp-controller="Home" asp-action="Index">Opcion 3</a></li>
              
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

            <a asp-controller="Home" asp-action="Login" class="get-started-btn scrollto">Iniciar sesión</a>

    </div>
  </header>


  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Encuentra el trabajo que tanto deseas<span>.</span></h1>
          <h2>Con nosotros puedes lograrlo, ¿Estas listo?</h2>
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-store-line"></i>
            <h3><a href="">Adecuado</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a href="">Confiable</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-calendar-todo-line"></i>
            <h3><a href="">Organizado</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-paint-brush-line"></i>
            <h3><a href="">Profesional</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-database-2-line"></i>
            <h3><a href="">Legal</a></h3>
          </div>
        </div>
      </div>

    </div>
  </section>

  <main id="main">

    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Sitio web dedicado a que encuentres el trabajo que tanto deseas, sin complicaciones</h3>
            <p class="fst-italic">
              Contamos con una amplia variedad de categorias para que puedas encontrar el 
              trabajo que más te guste y asi poder cumplir tu sueño.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i>Variedad de Categorías</li>
              <li><i class="ri-check-double-line"></i>Variedad de Empleos</li>
              <li><i class="ri-check-double-line"></i>Múltiples empresas asociadas con nosotros.</li>
            </ul>
            <p>
              Nosotros te apoyamos en todo el proceso y te damos las herramientas para que logres encontrar el empleo
              que mas se adapte a tus necesidades y a tus habilidades.
            </p>
          </div>
        </div>

      </div>
    </section>

    
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="assets/img/clients/client-1.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-4.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>


        <section id="features" class="features">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Sección de Empresas</h2>
                    <p>Empresas asociadas a muestra página web</p>
                </div>

                <div class="row" id="contenedor-empresas">

                    <div class="col-lg-6 col-md-3 d-flex align-items-stretch">
					@foreach (var empresaCantidad in ViewBag.EmpresasConCantidad)
					{
                            <div class="icon-box border border-warning" style="margin: 10px; padding: 10px;">
                                <div class="icon"><i class="bx bx-arch"></i></div>
                                <h4><a class="text-center fw-bold">@empresaCantidad.Empresa.nombre_empresa</a></h4>
                                <div class="d-flex align-items-center">
                                    <p class="text-center ms-2" style="text-align: center !important;">Empleos publicados </p>
                                    <span class="badge bg-primary rounded-pill" style="position: relative; top: -10px">@empresaCantidad.CantidadTrabajos</span>
                                </div>
                            </div>

                            }
                        
                    </div>
                </div>
            </div>
        </section>

        <section id="empleos" class="empleos">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Sección de Empleos</h2>
          <p>Últimos Empleos Publicados</p>
        </div>

                <div id="contenedor-empleos" class="row">

                    @foreach (var item in Model)
                    {
                        <div class="col-md-3 mt-3 mb-3">
                            <div class="card border-info mb-1" style="max-width: 18rem;">
                                <div class="card-header">
                                    <h5 class="card-title fw-bold text-center mt-2">@item.titulo</h5>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-subtitle text-muted text-center">@item.ubicacion</h6>
                                    <p class="card-text text-center mt-3">@item.descripcion</p>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item fw-bold text-center">Empresa: @item.Empresa.nombre_empresa</li>
                                        <li class="list-group-item fw-bold text-center">Salario: @item.salario</li>
                                        <li class="list-group-item fw-bold text-center">Fecha Publicación: @item.fechaPublicacion</li>
                                    </ul>
                                    <div class="text-center">
                                        <button class="btn btn-primary mt-4 mb-3 accordion" data-target="#collapse-@item.idTrabajo">Detalle</button>

                                    </div>
                                    <hr>
									<div id="collapse-@item.idTrabajo" style="display: none;">
										<div class="card-body">
											<h5 class="text-center">Información adicional sobre el empleo</h5>
											<h6 class="text-center fw-bold mt-3">Requisitos:</h6>
											<h6 class="text-center fw-light mb-2">@item.requisitos</h6>

											<h6 class="text-center fw-bold">Tipo de Contrato:</h6>
											<h6 class="text-center fw-light">@item.tipoContrato</h6>

										</div>
									</div>

                                </div>
                                @if (@item.estado == "Disponible")
                                {
                                    <div class="card-footer bg-success text-white fw-bold text-center">
                                        @item.estado
                                    </div>
                                }
                                else
                                {
                                    <div class="card-footer bg-danger text-white fw-bold text-center">
                                        @item.estado
                                    </div>
                                }
                                

                            </div>
                        </div>
                      
                    }

                
                </div>
      </div>
    </section>




    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
         <h3>Inicia sesión</h3>
          <p>Para poder ver tus ofertas de trabajo deberás ingresar como usuario para poder visualizar tú perfil.</p>
          <a class="cta-btn" asp-controller="Home" asp-action="Login">Iniciar sesión</a>
        </div>

      </div>
    </section>


        <section id="recursos" class="recursos">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
           <h2>Recursos</h2>
          <p>Estos recursos pueden ser de tú utilidad.</p>
        </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
                                        <img src="~/img/udemy.png" class="img-fluid" style="max-height: 110px; max-width: 110px; object-fit: contain;">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Udemy</h5>
                                        <p class="card-text">Udemy es una plataforma de cursos online, que fue fundada en el año 2010.</p>
                                        <a href="https://www.udemy.com/" class="card-link" target="_blank">Visitar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
                                        <img src="~/img/coursera.png" class="img-fluid" style="max-height: 110px; max-width: 110px; object-fit: contain;">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Coursera</h5>
                                        <p class="card-text">Es una plataforma de educación virtual que ofrece cursos de muy diversos temas en distintos idiomas, siendo predominante el inglés. </p>
                                        <a href="https://www.coursera.org/courses?query=free&irclickid=QZK30CSHyxyNWLdQi2TCPwbqUkASmrSWMSSIT00&irgwc=1&utm_medium=partners&utm_source=impact&utm_campaign=3190338&utm_content=b2c" class="card-link" target="_blank">Visitar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
                                        <img src="~/img/linkedin.png" class="img-fluid" style="max-height: 110px; max-width: 110px; object-fit: contain;">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Opportunity LinkedIn</h5>
                                        <p class="card-text">LinkedIn te pone en bandeja la oportunidad de adquirir las aptitudes para estos empleos que siempre tienen demanda con cursos de LinkedIn Learning gratis.</p>
                                        <a href="https://opportunity.linkedin.com/es-es/skills-for-in-demand-jobs" class="card-link" target="_blank">Visitar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

      </div>
    </section>

    
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-delay="100"></div>
          <div class="col-xl-7 ps-4 ps-lg-5 pe-4 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
            <div class="content d-flex flex-column justify-content-center">
              <h3>Contamos con un contador sobre toda la información que manejamos. </h3>
              <p>
                  Te podemos brindar ciertas estadisticas que muestran el total de nuestros usuarios, empresas, categorias y empleos.
              </p>
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-person-circle"></i>
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.TotalUsuarios" data-purecounter-duration="3" class="purecounter"></span>
                    <p><strong>Usuarios: </strong> La cantidad de usuarios registrados en nuestro sitio web.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-building"></i>
                   <span data-purecounter-start="0" data-purecounter-end="@ViewBag.TotalEmpresas" data-purecounter-duration="3" class="purecounter"></span>
                    <p><strong>Empresas: </strong> Cantidad de empresas registradas que ofrecen sus empleos a nuestros usuarios.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                  <i class="bi bi-card-checklist"></i>
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.TotalCategorias" data-purecounter-duration="3" class="purecounter"></span>
                    <p><strong>Categorias: </strong> Número de categorias que se encuentran para realizar búsquedas de empleos.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-award"></i>
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.TotalTrabajos" data-purecounter-duration="3" class="purecounter"></span>
                    <p><strong>Empleos: </strong> Cantidad de empleos encontrados en nuestra página</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

        <section id="categorias" class="categorias">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Categorias</h2>
                    <p>Nuestras categorias para que busques tú empleo ideal.</p>
                </div>
                <div id="contenedor-categoria" class="row justify-content-center">
                    <div class="col-md-3 mt-3 mb-3">
                        <ul class="list-inline" style="list-style-type: disc;">
                            @foreach (var categoria in ViewBag.Categorias)
                            {
                                if (ViewBag.Categorias.IndexOf(categoria) < 6)
                                {
                                    <li>@categoria.Categoria.nombre</li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="col-md-3 mt-3 mb-3">
                        <ul class="list-inline" style="list-style-type: disc;">
                            @foreach (var categoria in ViewBag.Categorias)
                            {
                                if (ViewBag.Categorias.IndexOf(categoria) >= 6 && ViewBag.Categorias.IndexOf(categoria) <= 11)
                                {
                                    <li>@categoria.Categoria.nombre</li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="col-md-3 mt-3 mb-3">
                        <ul class="list-inline" style="list-style-type: disc;">
                            @foreach (var categoria in ViewBag.Categorias)
                            {
                                if (ViewBag.Categorias.IndexOf(categoria) >= 12)
                                {
                                    <li>@categoria.Categoria.nombre</li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </section>

  </main>


  <footer id="footer" class="text-center">
    <div class="container">
      <div class="copyright">
                &copy; Copyright <strong><span>EmpleoConecta</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
                Designed by <a>EmpleoConecta</a>
      </div>
    </div>
  </footer>

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function() {
            $('.accordion').click(function() {
                var target = $(this).data('target');
                $(target).slideToggle();
            });
        });
    </script>
    

  <script src="assets/js/main.js"></script>




</body>

</html>
